Repository exphost/controller-webui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildapp, tests, build, push latest, push tag

buildapp:
  before_script:
  - echo -n $CI_REGISTRY_PASSWORD | podman login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  stage: build_app
  image: quay.io/podman/stable
  script:
  - podman --root podman pull ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-dev || true
  ...

tests:
  stage: tests
  image: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHORT_SHA}-dev
  script:
  - cd /app
  - npm run test:ci
  - cp -r /app/test_out $CI_PROJECT_DIR
  artifacts:
    reports:
      cobertura: test_out/cobertura-coverage.xml
      junit: test_out/junit.xml

build:
  before_script:
  - echo -n $CI_REGISTRY_PASSWORD | podman login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  stage: build
  image: quay.io/podman/stable
  script:
  - podman pull $CI_REGISTRY_IMAGE:latest || true
  ...

push latest:
  before_script:
  - echo -n $CI_REGISTRY_PASSWORD | podman login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  variables:
    GIT_STRATEGY: none
  image: quay.io/podman/stable
  stage: push
  script:
  - podman pull $CI_REGISTRY_IMAGE:dev
  - podman tag $CI_REGISTRY_IMAGE:dev $CI_REGISTRY_IMAGE:latest
  ...

push tag:
  before_script:
  - echo -n $CI_REGISTRY_PASSWORD | podman login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
  variables:
    GIT_STRATEGY: none
  image: quay.io/podman/stable
  stage: push
  script:
  - podman pull $CI_REGISTRY_IMAGE:dev
  ...

add login button to login/register page - closes #231
  app/src/Console.test.js
  app/src/components/loginregister.jsx
Due: buildapp, tests, build, push latest

deploy new env manually - closes #233
  .gitlab-ci.yml
Due: none

redirect to /console after login - closes #230
  app/src/pages/LoginPage.js
Due: buildapp, tests, build, push latest

refactor console page - closes #234
  app/src/components/console.jsx
  app/src/components/loginregister.jsx
  app/src/index.js
  app/src/pages/ConsolePage.js
  app/src/pages/ConsolePage.test.js
  app/src/pages/Register.js
Due: buildapp, tests, build, push latest

add nginx create app - closes #243
  .gitignore
  .gitlab-ci.yml
  app/package.json
  app/public/env_vars.js
  app/src/components/apps/:wal
  app/src/components/apps/nginx.jsx
  app/src/components/apps/nginx.test.jsx
  app/src/components/console.jsx
  app/src/index.js
  app/src/pages/ConsolePage.js
  app/src/pages/ConsolePage.test.js
  gitlab-ci-values.yml
Due: buildapp, tests, build, push latest

upload latest helm - refs #262
  .gitlab-ci.yml
Due: none

add missing appVersion - refs #262
  chart/Chart.yaml
  chart/templates/deployment.yaml
  chart/values.yaml
Due: none

update appsservice version in general helm - refs #258
  .gitlab-ci.yml
Due: none

push docker images with git describe as a verison - refs #263
  .gitlab-ci.yml
Due: none

show userinfo - closes #205
  app/src/components/console.jsx
  app/src/components/userinfo.jsx
  app/src/components/userinfo.test.jsx
  app/src/pages/ConsolePage.js
  app/src/pages/ConsolePage.test.js
Due: buildapp, tests, build, push latest

nginx apps will use users default group - closes #260
  .gitignore
  app/src/components/apps/:wal
  app/src/components/apps/nginx.jsx
  app/src/components/apps/nginx.test.jsx
  app/src/components/registerForm.jsx
  app/src/components/userinfo.jsx
  app/src/pages/ConsolePage.js
  app/src/pages/ConsolePage.test.js
  app/src/pages/LoginPage.js
Due: buildapp, tests, build, push latest

fix lint - closes #271
  .gitlab-ci.yml
  app/.eslintrc.js
  app/package.json
  app/src/App.js
  app/src/App.test.js
  app/src/components/apps/nginx.jsx
  app/src/components/apps/nginx.test.jsx
  app/src/components/console.jsx
  app/src/components/loginregister.jsx
  app/src/components/registerForm.jsx
  app/src/components/userinfo.jsx
  app/src/components/userinfo.test.jsx
  app/src/index.js
  app/src/pages/ConsolePage.js
  app/src/pages/ConsolePage.test.js
  app/src/pages/LoginPage.js
  app/src/pages/Register.js
  app/src/reportWebVitals.js
  app/src/setupTests.js
Due: buildapp, tests, build, push latest

list nginx apps - closes #244
  app/src/components/apps/appNginx.jsx
  app/src/components/apps/appNginxAdd.jsx
  app/src/components/apps/appNginxAdd.test.jsx
  app/src/components/apps/appNginxList.jsx
  app/src/components/apps/appNginxList.test.jsx
  app/src/pages/ConsolePage.js
Due: buildapp, tests, build, push latest

add git repo and fqdn to nginx app - closes #277
  app/package.json
  app/src/components/apps/appNginxAdd.jsx
  app/src/components/apps/appNginxAdd.test.jsx
Due: buildapp, tests, build, push latest

do not deploy master branch - closes #293
  .gitlab-ci.yml
Due: none

show fqdn and git repo on nginx list - closes #289
  app/src/components/apps/appNginxList.jsx
  app/src/components/apps/appNginxList.test.jsx
Due: buildapp, tests, build, push latest

list nginx fqdns as a list and send fqdns as a list while creating- closes #307
  .gitlab-ci.yml
  app/src/components/apps/appNginxAdd.jsx
  app/src/components/apps/appNginxList.jsx
  app/src/components/apps/appNginxList.test.jsx
Due: buildapp, tests, build, push latest

use webui only for /console - refs #202
  chart/templates/ingress.yaml
  gitlab-ci-values-dex.yml
  gitlab-ci-values-webui.yml
  gitlab-ci-values.yml
Due: none

use console. prefix for api endpoint - refs #202
  chart/templates/deployment.yaml
Due: none

move /console to / - closes #331
  app/src/components/console.jsx
  app/src/components/loginregister.jsx
  app/src/index.js
  app/src/pages/ConsolePage.js
  app/src/pages/ConsolePage.test.js
  app/src/pages/LoginPage.js
Due: buildapp, tests, build, push latest

back to /console - closes #336
  Dockerfile
  app/package.json
  app/public/index.html
  app/src/index.js
  app/src/pages/LoginPage.js
  chart/templates/deployment.yaml
  chart/templates/ingress.yaml
  gitlab-ci-values-dex.yml
  nginx/entry.d/update_api.sh
  nginx/nginx.conf
Due: buildapp, tests, build, push latest, push tag

use bootstrap for skeleton - closes #335
  app/package.json
  app/src/components/apps/appNginx.jsx
  app/src/components/apps/appNginxAdd.jsx
  app/src/components/apps/appNginxAdd.test.jsx
  app/src/components/apps/appNginxList.jsx
  app/src/components/console.jsx
  app/src/components/loginregister.jsx
  app/src/components/registerForm.jsx
  app/src/components/sidemenu.css
  app/src/components/sidemenu.js
  app/src/components/top_nav.js
  app/src/components/userinfo.jsx
  app/src/components/userinfo.test.jsx
  app/src/index.js
  app/src/pages/ConsolePage.css
  app/src/pages/ConsolePage.js
  app/src/pages/ConsolePage.test.js
  app/src/pages/Register.js
Due: buildapp, tests, build, push latest

test commit
  README.md
Due: none

closes #339 - nginx fqdns should be rendered as links
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

console - nginx fqdns should render as links - closes #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

use Link
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

import Link
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

typo
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

add MemoryRouter for appsNginxList component tests - refs #339
  app/src/components/apps/appNginxList.test.jsx
Due: buildapp, tests, build, push latest

pathname & target= - refs #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

typo - refs #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

proper var - refs #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

https:// prefix - refs #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

use <a> - refs #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

remove import Link - refs #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

fix - quotes and noreferrer - refs #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

revert renderer - refs #339
  app/src/components/apps/appNginxList.test.jsx
Due: buildapp, tests, build, push latest

nginx fqdns should render as links - closes #339
  app/src/components/apps/appNginxList.jsx
Due: buildapp, tests, build, push latest

basic logout mechanism - refs #341
  app/src/index.js
  app/src/pages/LogoutPage.js
Due: buildapp, tests, build, push latest

'LogoutPage' is not defined - refs #341
  app/src/index.js
Due: buildapp, tests, build, push latest

Path conditions:
  buildapp: any of: app/**/*, Dockerfile, nginx/**/*
  tests: any of: app/**/*, Dockerfile, nginx/**/*
  build: any of: app/**/*, Dockerfile, nginx/**/*
  push latest: any of: app/**/*, Dockerfile, nginx/**/*
  push tag: any of: app, Dockerfile, nginx
